
body {
  background-color: black;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.head{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}


.calc-wrapper{
  margin: 10px;
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}
